<a href="https://colab.research.google.com/github/shauryyamishra/Random_PythonPrograms/blob/main/Random_pythonprograms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
secretword='shaurya'
no_guess= 0
guess=""


while guess != secretword and no_guess<3 :
  guess= input("whats my name?:")
  no_guess += 1
  
if guess==secretword:
  print("thats right homie")
else:
  print('lol you lost')

whats my name?:ritu
thats right homie

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Enter first number: 5
Enter second number: 2
Sum: 7.0
Difference: 3.0
Product: 10.0
Quotient: 2.5

In [ ]:
#defining a function for exponent 
def exponent_(base_,power_):
  result = 1
  for index in range(power_):
    result = base_*result
  return result

print(exponent_(2,4))

16

In [ ]:
num = int(input("enter a random num:"))
if num % 2 == 0:
	print("num is even")
else:
	print("num is odd")

enter a random num:24
num is even

In [ ]:
user_input = input("Enter a list of numbers separated by spaces: ")
numbers_list = user_input.split()
print(numbers_list)

Enter a list of numbers separated by spaces: 12 65 559 5648
['12', '65', '559', '5648']

In [ ]:
user_input = input("Enter a list of numbers separated by spaces: ")
numbers_list = user_input.split()
print(numbers_list)
even_num_list = []
for i in numbers_list:
  if int(i) % 2 == 0:
    even_num_list.append(int(i))
print(even_num_list)

Enter a list of numbers separated by spaces: 26 45 69 458 15687
['26', '45', '69', '458', '15687']
[26, 458]

In [ ]:
age = int(input('enter your age :'))
current_year= int(input('enter the current year:'))
diff= 100-age
year= diff+current_year
print("the year you are going to turn 100 is:",year)

enter your age :48
enter the current year:2023
the year you are going to turn 100 is: 2075

In [ ]:
num= int(input("enter the number till which you want the fibonacci sequence:"))

fibonacci_seq =[0,1]
x =0
for i in range(2,num):
  x = fibonacci_seq[i-1]+fibonacci_seq[i-2]
  fibonacci_seq.append(x)
print(fibonacci_seq)

enter the number till which you want the fibonacci sequence:65
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723]